thead th{
    cursor: pointer;
    position: sticky;
    top: 0;
    background: rgb(136, 121, 121); /* Fixe le header et évite qu'il soit caché */
    /* z-index: 10; */
  }
#root{
  background: whitesmoke;
}

tbody tr td{
  cursor: pointer;
}

tbody tr td #info-button{
  cursor:help;
}

tbody tr td #modify-button{
  cursor:cell
}

.body{
  background: white;
}

.swal-text-preline {
  white-space: pre-line;
}

